@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,300&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
}

*{
    background-color: black;
}

*{
    font-family: 'Raleway', sans-serif;
    color: white;
}

.logo-img {
    position: fixed;
    z-index: 3;
    border-radius: 8vw;
    width: 10vw;
    height: 10vw;
    margin-left: 3vw;
    margin-top: 4vw;
}

.header {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    padding: 6vw;
    align-items: center;
}

.h1-principal {
    font-weight: 700;
    font-size: 5vw;
    justify-self: center;
    grid-column-start: 2;
}

.h1-pages {
    font-weight: 400;
    font-size: 5vw;
    justify-self: center;
    text-transform: uppercase;
    grid-column-start: 2;
}

a:link, a:visited, a:active{
    text-decoration: none;
}

.menu-img {
    z-index: 3;
    width: 6vw;
    height: 6vw;
    margin-left: 13vw;
}

.menu-img:hover {
    opacity: 0.6 ;
}

.menu-nav {
    list-style: none;
    text-align: right;
}

.menu-flex ul {
    display: none;
}

.menu-flex:hover ul {
    z-index: 5;
    display: block;
    position: absolute;
    border-radius: 1vw;
    list-style: none;
    font-size: 1.8vw;
    text-transform: uppercase;
    height: 10vw;
}

.menu-item {
    margin: 1vw;
    text-indent: 0.7vw;
}

.img-principal {
    opacity: 0.35;
    width: 100vw;
    height: 100vw;
}

h3 {
    font-size: 2vw;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}

.section-visit {
    display: grid;
    grid-gap: 2vw;
    padding: 3vw;
    justify-items: center;
}

@media screen and (min-width: 320px) {
    
    .header {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .logo-img {
        width: 15vw;
        height: 15vw;
    }

    .menu-img {
        width: 10vw;
        height: 10vw;
    }

    .section-visit, 
    .section-contact, 
    .section-aboutus {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: stretch;
        padding: 10vw;
        grid-gap: 8vw;
    }

    .section-visit img {
        width: 80vw;
        height: 50vw;
    }

    .section-contact img {
        width: 35vw;
        height: 20vw;
        margin: 3vw;
    }

    .section-aboutus div {
        width: 80vw;
        height: 50vw;
    }

    .forms {
        grid-row: 2;
        justify-self: stretch;
    }

    .fieldset-contact, .fieldset-visit {
        font-size: 3vw;
    }

    .fieldset-contact {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .div-send-clean input, select {
        font-size: 3vw;
    }

}

@media screen and (min-width: 768px) {

    .section-visit, 
    .section-contact, 
    .section-aboutus {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .fieldset-contact, .fieldset-visit {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1200px) {
    
    .h1-pages {
        font-size: 4vw;
    }

    .section-visit {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    .section-visit img {
        width: 40vw;
        height: 20vw;
    }

    .section-contact {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        padding: 4vw;
        margin-bottom: 5vw;
    }

    .section-contact img {
        width: 35vw;
        height: 20vw;
        margin: 3vw;
    }

    .section-aboutus {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2vw;
        justify-items: stretch;
    }

    .section-aboutus div {
        width: 40vw;
        height: 30vw;
    }

    .forms {
        grid-column: 2;
        grid-row: 1;
    }

    .fieldset-contact, .fieldset-visit {
        width: 30vw;
        grid-gap: 1rem;
        font-size: 1.5vw;
    }
}

.info-visit {
    padding-top: 3vw;
    justify-content: end;
}

.info-visit p {
    font-style: italic;
    text-align: center;
    font-size: 2vw;
}

.section-products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.section-contact {
    display: grid;
}

.section-aboutus {
    display: grid;
}

.product {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 5vw;
    justify-items: center;
    margin-bottom: 4vw;
}

.product img {
    width: 20vw;
    height: 20vw;
}

.forms {
    padding-top: 2vw;
}

.fieldset-visit, .fieldset-contact {
    display: grid;
}

.fieldset-visit {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    padding-top: 1vw;
}

.fieldset-contact {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.div-send-clean {
    display: flex;
    justify-content: right;
}

.div-send-clean input, select {
    font-size: 1vw;
    padding-inline: 1vw;
    margin-inline: 0.5vw;
}

.footer-redes {
    display: grid;
    padding: 2vw;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-gap: 1vw;
}

.footer-ul-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    grid-row: 1;
    grid-column: 3;
}

.footer-redes p {
    grid-area: copyright;
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    justify-self: center;
    font-size: 1vw;
}

.footer-img {
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
}

.footer-img:hover {
    transform: scale(1.5);
}